<div [className]="{EditorContainer:true}">
  <div class="Line">
    <span>~</span>
    <p></p>
  </div>

  <div class="Line">
    <span>~</span>
    <p></p>
  </div>
  <div class="Line">
    <span>~</span>
    <p></p>
  </div>
  <div class="Line">
    <span>~</span>
    <p></p>
  </div>
  <div class="Line">
    <span>~</span>
    <p></p>
  </div>
  <div class="Line">
    <span>~</span>
    <p></p>
  </div>
  <div class="Line">
    <span>~</span>
    <p></p>
  </div>
  <div class="Line">
    <span>~</span>
    <p></p>
  </div>
  <div class="Line">
    <span>~</span>
    <p></p>
  </div>
  <div class="Line">
    <span>~</span>
    <p></p>
  </div>
  <div class="Line">
    <span>~</span>
    <p></p>
  </div>
  <div class="Line">
    <span>~</span>
    <p></p>
  </div>
  <div class="Line">
    <span>~</span>
    <p></p>
  </div>
  <div class="Line">
    <span>~</span>
    <p></p>
  </div>
  <div class="Line">
    <span>~</span>
    <p></p>
  </div>
  <div class="Line">
    <span>~</span>
    <p></p>
  </div>
  <div class="Line">
    <span>~</span>
    <p></p>
  </div>
  <div class="Line">
    <span>~</span>
    <p></p>
  </div>
</div>
